@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

body{
    background-position: absolute;
    overflow: auto;
    background: rgb(255,255,255);
    /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(61,163,0,1) 100%, rgba(253,253,253,1) 100%); */
    background: #fff;
}

#parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png), url(../images/blur_edges.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    filter: blur(10px);
}

h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #016C33;
    font-family: 'Poppins', sans-serif;
    font-family: 'Times New Roman';
    font-weight: bold;
    /* text-transform: uppercase; */
    /* opacity: .2; */
    font-size: 30px;
}

.btn{
    padding: 1rem 3rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--Soft-Orange);
    color: #fff;
    border-radius: .5rem;
    text-transform: uppercase;
    font-size: 2rem;
}

.logo-center {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Arial";
    text-transform: uppercase;
    /* opacity: .2; */
    font-size: 70px;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: 0.2s ease-in-out;
    color: #000;
    text-decoration: none;
}

.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
    background: #fefefe;
    color: #333;
    border: 1px solid #4a4a4a;
}

.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    font-size: x-large;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

section#parallax
{
    /* margin-top: 111.5rem; */
}
section#parallax::before
{
    content: '';
    position: relative;
    /* bottom: 110px; */
    width: 100%;
    height:90vh;
    background: linear-gradient(to top, #1c0522, #000000, transparent);
    z-index: 1000;
}
section#parallax img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}
section img#salmankenya
{
    z-index: 0;
}

.calenderwrapper{
    width: 100%;
    background: #fff;
    border-radius: 10px;
    left: 50%;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    margin-bottom: 60vh;
}
.calenderwrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
header .icons{
    display: flex;
}
header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}
.icons span:last-child{
    margin-right: -10px;
}
header .icons span:hover{
    background: #f2f2f2;
}
header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
}
.calendar{
    padding: 20px;
}
.calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.calendar .days{
    margin-bottom: 20px;
}
.calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
}
.calendar .weeks li{
    font-weight: 500;
    cursor: default;
}
.calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}
.days li.inactive{
    color: #aaa;
}
.days li.active{
    color: #fff;
}
.days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.days li.active::before{
    background: var(--Soft-Green);
}
.days li:not(.active):hover::before{
    background: #f2f2f2;
}

.wrapper {
    width: 100%;
    height: 100vh;
    scale: 0.9; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    padding: 5vh;
    font-size:x-large;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('../images/MahatmaTolstoy.gif');
    background-position: center;
}
.card[for="c2"] {
    background-image: url('../images/Fee.gif');
    background-position: center;
}
.card[for="c3"] {
    background-image: url('../images/Internationalism.gif');
    background-position: center;
}
.card[for="c4"] {
    background-image: url('../images/CBSE Results.gif');
    background-position: center;
}
.card[for="c5"] {
    background-image: url('../images/Social_service.gif');
    background-position: center;
}
.card[for="c6"] {
    background-image: url('../images/Student-Council.gif');
    background-position: center;
}
.card[for="c7"] {
    background-image: url('../images/EventsActivities.gif');
    background-position: center;
}
.card[for="c8"] {
    background-image: url('../images/Achievements.gif');
    background-position: center;
}

::selection{
    background-color: var(--Soft-Orange);
    color: #fff;
}


::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--Soft-Green);
}


.container{
    position: relative;
    justify-content: center;
    margin-top: 50vh;
    margin-bottom: -40vh;
    top: 50%;
    left: 40%;
    bottom: 2.5rem;
    scale: 0.9;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: 600px;
    background: #f5f5f5;
    /* box-shadow: 0 30px 50px #e85858; */
    box-shadow: 0.5rem 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, .1);
    /* display: inline-block; */
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -0.01s);
}

.container .slide .item{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 30px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 220px);
}
.slide .item:nth-child(5){
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}



.item .contentslide{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    /* font-family: system-ui; */
    border-radius: 20px;
    display: none;
}


.slide .item:nth-child(2) .contentslide{
    display: block;
}


.contentslide .name{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.contentslide .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.contentslide button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #fff;
}

section {
    padding: 2rem 9%;
    
    /* scroll-snap-align: start;
    scroll-snap-stop: always; */
    
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

/* table { */
    
    /* scroll-snap-align: start; */
    /* scroll-snap-stop: always; */
    
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
/* } */

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;  
}

.heading{
    text-align: center;
    font-size: 2rem;
    color: var(--Very-Dark-Blue);
    margin-top: 10rem;
    margin-bottom: 5rem;
}


.heading h1{
    padding-bottom: 2rem;
    color: var(--Very-Dark-Blue);
}

.table {
    padding-bottom: 2rem;
    display: flex;
}

th{
    padding-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--Very-Dark-Blue);
}

td{
    padding-bottom: 2rem;
    font-size: 1.25rem;
    color: var(--Very-Dark-Blue);
}

.content h1 b{
    padding-bottom: 2rem;
    color: var(--Very-Dark-Blue);
}

.content h2{
    padding-bottom: 2rem;
    color: var(--Very-Dark-Blue);
}

.heading p{
    max-width: 60rem;
    margin: auto;
    color: var(--Very-Dark-Blue);
    font-size: 1.7rem;
}


.all-btn{
    padding: 1rem 3rem;
    font-size: 1.5rem;
    background-color: var(--Soft-Green);
    border-radius: .5rem;
    color: #fff;
}

.all-btn:hover{
    background-color: transparent;
    color: var(--Soft-Green);
    border: 2px solid var(--Soft-Green);
}


:root{
    --Soft-Green: #AEBC41;
    --Soft-Orange: hsl(39, 71%, 50%);
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
    --box-shadow: .5rem .5rem  0 #6d7a08;
    --text-shadow: .4rem .4rem  0 rgba(0, 0, 0, .2);
    --border: .2rem  solid var(--green);
}

/* navbar sections starts */
.header{
    padding: 1rem 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0%;
    left: 0;
    z-index: 10000;
    background-color: #fff;
    box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, .1);
    height: 12rem;
    width: 100%;
}


.header .logo{
    cursor: pointer;
    scale: 0.6;
    /* left: -50vh; */
}


.header .navbar a{
    margin-left: 2rem;
    font-size: 1.7rem;
    text-transform: uppercase;
}


.header .navbar a:hover{
    color: var(--Soft-Orange);
}

.btn:hover{
    color: var(--Soft-Orange);
    background-color: transparent;
    border: 2px solid var(--Soft-Orange);
}

#menu-btn{
    padding: 1rem 1rem;
    background-color: #eee;
    font-size: 3rem;
    color: var(--Soft-Green);
    border-radius: .5rem;
    cursor: pointer;
    display: none;
}



/* Media Queries */



@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    
}

@media (max-width: 768px){
    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top: 115%;
        right: 2rem;
        box-shadow: var(--box-shadow);
        width: 33rem;
        border-radius: .5rem;
        border: 2px solid var(--Soft-Green);
        background-color: #fff;
        transform: scale(0);
        transform-origin: top right;
    }

    .header .navbar.active{
        transform: scale(1);
    }

    .header .navbar a{
        margin: 2.5rem;
        text-align: center;
        display: block;
        font-size: 2rem;
    }
}


@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}
/* navbar sections ends */


/* home section starts  */

.home{
    padding-top: 15rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* main property for responsiveness */
    gap: 1.5rem;
}


.home .image{
    flex: 1 1 45rem;
}


.home .image img{
    width: 100%;
    margin-top: 5rem;
    box-shadow: 0.5rem 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, .1);
    display: inline-block;
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -0.01s);
}


@keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

.home .content{
    flex: 1 1 45rem;
}


.home .content h1{
    font-size: 4.5rem;
    padding-block-end: 1rem 0;
    color: var(--Very-Dark-Blue);
}

.home .content p{
    font-size: 1.7rem;
    padding: 1rem 0;
    max-width: 40rem;
    color: var(--Very-Dark-Blue);
    padding-bottom: 4rem;
    text-shadow: -0.1px 0.1px 0 #000,
                0.1px 0.1px 0 #000,
                0.1px -0.1px 0 #000,
                -0.1px -0.1px 0 #000;
}

.row .content ol li{
    font-size: 1.7rem;
    padding: 0.25rem 0;
    max-width: 180rem;
    color: var(--Grayish-Blue);
    padding-bottom: 3rem;
    font-size: 12px;
}

.home .content .home-btn{
    padding: 1.3rem 2rem;
    background-color: #fff;
    color: #000;
    font-size: 1.4rem;
    box-shadow: .5rem .5rem hsl(231, 69%, 60%);
    border: 2px solid var(--Soft-Green);
    border-radius: .5rem;
}


.home .content .home-btn:hover{
    background-color: var(--Soft-Green);
    box-shadow: none;
    color: #fff;
}




/* home section ends */



/* features section starts  */

.features .content h1{
    font-size: 4.5rem;
    padding-block-end: 1rem 0;
    color: var(--Very-Dark-Blue);
}

.features .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 3rem 0;
}

.features .row .image{
    flex: 1 1 45rem;
    /* box-shadow: 0.5rem 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, .1); */
}


.features .row .image img{
    width: 100%;
    box-shadow: 0.5rem 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, .1);
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -0.01s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}



.features .row .content{
    flex: 1 1 45rem;
}


.features .row .content h1{
    font-size: 4.5rem;
    padding-block-end: 1rem 0;
    color: var(--Very-Dark-Blue);
}

.features .row .content b{
    font-size: 4.5rem;
    padding-block-end: 1rem 0;
    color: var(--Very-Dark-Blue);
}

.features .row .content h2{
    font-size: 4rem;
    padding: 1rem 0;
    color: var(--Very-Dark-Blue);
}

.features .row .content p{
    font-size: 1.7rem;
    padding: 1rem 0;
    color: var(--Grayish-Blue);
    padding-bottom: 4rem;
}

/* features section ends */


/* downloads section starts  */

.download .box-container{
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.download .box{
    border: 2px solid var(--Soft-Green);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}
.download .box:hover{
    border: 2px solid var(--Soft-Green);
    box-shadow: none;
}


.download .box h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--Very-Dark-Blue);
}



.download .box p{
    font-size: 1.7rem;
    padding-bottom: 2.5rem;
    color: var(--Grayish-Blue);
}

/* downloads section ends */



/* footer section starts */
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 22rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--Soft-Green);
    text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
    /* border-color: var(--text-shadow);
    border: 20px; */
    /* box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, .25); */
    /* box-shadow: .2em var(--text-shadow); */
    /* text-shadow: ; */
}

.footer .box-container .box h3{
    color: var(--Soft-Orange);
    text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}

.footer .box-container .box a:hover i{
    padding-right:1rem;
}


.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: #000;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}


.footer .credit span{
    color: var(--Soft-Orange);
    cursor: pointer;
}


/* footer section ends */

/* .slideanim {
    visibility:hidden;
    visibility:visible\9;For old IE browsers IE6-8 */
/* }
.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after { */
    /* useful when its child elements are float:left; */
    /* content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
} */
/* 
#slide {
    position: absolute;
    left: -600px;
    width: 600px;
    height: 370px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
} */